body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.container-fluid{
    margin:auto;
    padding: 20px;
    background-color:#95a3a8;
}

.intro{
    text-align: center;
}

h1, h2, img, .life-journey{
    background-color: #dddbdb;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #202020,
                2px 2px 10px #ece9e9;
}

h1{
    margin: auto 30%;
    color: #3084a5;
}
h2{
    color:#3084a5;
    margin: auto 9%;
    padding:10px;
}

 .intro p{
   font-weight: 600;
   color:#424141
 }

 .img{
    text-align: center;
    margin: 30px auto;
 }

.life-journey{
    margin:auto 10px 10px;
    padding: 2px 10px;
    color:#3a3a3a ;
}

 h3{
    font-family: sans-serif;
    font-weight:bolder;
 }

 p{
    text-align: center;
 }
 
    
 


 
